@media screen and (max-width: 575px) {
    .hr {
        border-bottom: solid 1px rgba(128, 128, 128, 0.62);
        width: 100%;
        height: 30px;
        margin: 10% 0;
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0px 5% 0px 10%;
    }

    .containerAbout>div {
        margin: 15% 0% 5% 0%;
    }

    .containerAbout>div>span {
        background-color: rgba(145, 144, 144, 0.435);
        padding: 10px;
        border-radius: 0.5vh;
        font-family: 'Poppins', sans-serif;
        color: rgb(186, 186, 186);
        font-size: small;
    }

    .nombreAbout {
        text-transform: uppercase;
        font-family: 'Secular One', sans-serif;
        line-height: 1.2;
        letter-spacing: 2px;
        color: white;
        margin: 5% 0% 5% 0%;
    }

    .spanAbout {
        font-family: 'Poppins', sans-serif;
        font-size: smaller;
        max-width: 450px;
        color: rgb(186, 186, 186);
        letter-spacing: 2px;
    }

    /* Descripcion */

    .descripcionAbout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 400px;
        font-family: 'Poppins', sans-serif;
        color: rgb(186, 186, 186);
    }

    /* contacto */

    .contactoAbout {
        margin: 5% 0% 25% 0%;
        display: flex;
        flex-flow: column wrap;
    }

    .contactoAbout>ul>li {
        width: 100%;
        font-family: 'Poppins', sans-serif;
        list-style-type: none;
        color: white;
        padding: 4% 0;
    }

    .contactoAbout>ul>li>b {
        min-width: 100px;
        float: left;
    }

    .contactoAbout>ul>li>span {
        font-family: 'Poppins', sans-serif;
        color: rgb(186, 186, 186);
    }

    .redesAbout {
        font-family: 'Poppins', sans-serif;
        color: rgb(186, 186, 186);
        text-decoration: none;
        transition: 0.5s;
    }

    .redesAbout:hover {
        font-size: 1.03rem;
        text-decoration: underline;
    }

    .descargarCv {
        background-color: #fff;
        width: 190px;
        padding: 11px 40px;
        cursor: pointer;
        transition: 0.5s;
        text-decoration: none;
        font-size: medium;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        color: black;
    }

    .descargarCv:hover {
        background-color: rgba(255, 255, 255, 0.527);
        letter-spacing: 1px;
    }

    /* Skills */

    .containerSkills {
        width: 100%;
    }

    .spanSkillAbout {
        background-color: rgba(145, 144, 144, 0.435);
        padding: 10px;
        border-radius: 0.5vh;
        font-family: 'Poppins', sans-serif;
        color: rgb(186, 186, 186);
        font-size: large;
    }

    .skills {
        margin: 2% 0 0 0;
        display: flex;
        justify-content: center;
    }
    .figureSkills{
        width: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionSkills{
        display: flex;
        flex-flow: row wrap;
        margin: 5% 15% 5% 15%;
        font-size: 10px;
        font-weight: bold;
        color: gray;
    }
    .figureSkills{
        margin: 15px;
    }
    .fondoReact{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(0, 242, 255, 0.1);
    }
    .fondoJs{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(225, 255, 0, 0.1);
    }
    .fondoHtml{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(255, 72, 0, 0.1);
    }
    .fondoCss{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(0, 0, 255, 0.1);
    }
    .fondoSass{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(255, 0, 255, 0.1);
    }
    .fondoGit{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(255, 0, 4, 0.1);
    }
    .fondoGithub{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.1);
    }
    .fondoBootstrap{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(157, 0, 255, 0.1);
    }
    .fondoTailwind{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(0, 217, 255, 0.1);
    }
    .fondoNode{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(0, 255, 34, 0.1);
    }
    .fondoFirebase{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(255, 179, 0, 0.1);
    }
    .fondoMongo{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(89, 255, 0, 0.1);
    }

    /* Educacion     */

    .educacionAbout {
        width: 100%;
    }

    .educacionAbout>div {
        margin: 10% 0;
    }

    .spanEducacion {
        background-color: rgba(145, 144, 144, 0.435);
        padding: 10px;
        border-radius: 0.5vh;
        font-family: 'Poppins', sans-serif;
        color: rgb(186, 186, 186);
        font-size: large;
    }

    .ulUTN {
        border-left: 1px solid rgba(186, 186, 186, 0.556);
        margin: 10% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .educacionAbout>div>ul>li {
        list-style-type: none;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        transition: 1s;
        padding: 10px;
    }

    .educacionAbout>div>ul>li>b {
        border-left: 2px solid red;
        padding-left: 10px;
        margin-left: -10px;
        transition: 0.3s;
    }

    .educacionAbout>div>ul>li>b:hover {
        border-left: 2px solid rgb(6, 197, 2);
    }

    .educacionAbout>div>ul>li>p {
        color: rgba(186, 186, 186, 0.648);
    }

    .pSeg {
        font-size: small;
        font-style: italic;
    }

    .ulEducacion {
        display: flex;
        justify-content: space-around;
    }

    /* White */

    .bodyy{
        background-color: white;
    }

    .containerAboutWhite>div {
        margin: 15% 0% 5% 0%;
    }

    .containerAboutWhite>div>span {
        background-color: rgba(0, 0, 0, 0.435);
        padding: 10px;
        border-radius: 0.5vh;
        font-family: 'Poppins', sans-serif;
        color: rgb(255, 255, 255);
        font-size: small;
    }

    .nombreWhiteAbout {
        text-transform: uppercase;
        font-family: 'Secular One', sans-serif;
        line-height: 1.2;
        letter-spacing: 2px;
        color: rgb(0, 0, 0);
        margin: 5% 0% 5% 0%;
    }

    .spanAboutWhite {
        font-family: 'Poppins', sans-serif;
        font-size: smaller;
        max-width: 450px;
        color: rgb(0, 0, 0);
        letter-spacing: 2px;
    }

    /* Descripcion */

    .descripcionAboutWhite {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 400px;
        font-family: 'Poppins', sans-serif;
        color: rgb(0, 0, 0);
    }

    /* contacto */

    .contactoAboutWhite {
        margin: 5% 0% 25% 0%;
        display: flex;
        flex-flow: column wrap;
    }

    .contactoAboutWhite>ul>li {
        width: 100%;
        font-family: 'Poppins', sans-serif;
        list-style-type: none;
        color: rgb(0, 0, 0);
        padding: 4% 0;
    }

    .contactoAboutWhite>ul>li>b {
        min-width: 100px;
        float: left;
    }

    .contactoAboutWhite>ul>li>span {
        font-family: 'Poppins', sans-serif;
        color: rgb(0, 0, 0);
    }

    .redesAboutWhite {
        font-family: 'Poppins', sans-serif;
        color: rgb(0, 0, 0);
        text-decoration: none;
        transition: 0.5s;
    }

    .redesAboutWhite:hover {
        font-size: 1.03rem;
        text-decoration: underline;
    }

    .descargarCvWhite {
        background-color: #030303;
        width: 190px;
        padding: 11px 40px;
        cursor: pointer;
        transition: 0.5s;
        text-decoration: none;
        font-size: medium;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        color: rgb(255, 255, 255);
    }

    .descargarCvWhite:hover {
        background-color: rgba(255, 255, 255, 0.527);
        letter-spacing: 1px;
    }

    /* Skills */

    .spanSkillAboutWhite {
        background-color: rgba(0, 0, 0, 0.435);
        padding: 10px;
        border-radius: 0.5vh;
        font-family: 'Poppins', sans-serif;
        color: rgb(255, 255, 255);
        font-size: large;
    }

    .sectionSkillsWhite{
        display: flex;
        flex-flow: row wrap;
        margin: 5% 15% 5% 15%;
        font-size: 10px;
        font-weight: bold;
        color: rgb(4, 4, 4);
    }

    /* Educacion     */

    .spanEducacionWhite {
        background-color: rgba(0, 0, 0, 0.435);
        padding: 10px;
        border-radius: 0.5vh;
        font-family: 'Poppins', sans-serif;
        color: rgb(255, 255, 255);
        font-size: large;
    }

    .ulUTNWhite {
        border-left: 1px solid rgba(0, 0, 0, 0.556);
        margin: 10% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .educacionAboutWhite>div>ul>li {
        list-style-type: none;
        color: #000000;
        font-family: 'Poppins', sans-serif;
        transition: 1s;
        padding: 10px;
    }

    .educacionAboutWhite>div>ul>li>b {
        border-left: 2px solid red;
        padding-left: 10px;
        margin-left: -10px;
        transition: 0.3s;
    }

    .educacionAboutWhite>div>ul>li>b:hover {
        border-left: 2px solid rgb(6, 197, 2);
    }

    .educacionAboutWhite>div>ul>li>p {
        color: rgba(51, 51, 51, 0.648);
    }

}

@media screen and (min-width: 576px) {

    /* General */
    .hr {
        border-bottom: solid 1px rgba(128, 128, 128, 0.62);
        width: 100%;
        height: 30px;
        margin: 10% 0;
    }

    /* Sobre mi */

    .about {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0px 5% 0px 10%;
    }

    .containerAbout>div {
        margin: 15% 0% 5% 0%;
    }

    .containerAbout>div>span {
        background-color: rgba(145, 144, 144, 0.435);
        padding: 10px;
        border-radius: 0.5vh;
        font-family: 'Poppins', sans-serif;
        color: rgb(186, 186, 186);
        font-size: small;
    }

    .nombreAbout {
        text-transform: uppercase;
        font-family: 'Secular One', sans-serif;
        line-height: 1.2;
        letter-spacing: 2px;
        color: white;
        margin: 5% 0% 5% 0%;
    }

    .spanAbout {
        font-family: 'Poppins', sans-serif;
        font-size: smaller;
        max-width: 450px;
        color: rgb(186, 186, 186);
        letter-spacing: 2px;
    }

    /* Descripcion */

    .descripcionAbout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 260px;
        font-family: 'Poppins', sans-serif;
        color: rgb(186, 186, 186);
    }

    /* Contacto */

    .contactoAbout {
        margin: 0% 0% 30% 0%;
        display: flex;
        flex-flow: column wrap;
    }

    .contactoAbout>ul>li {
        width: 100%;
        font-family: 'Poppins', sans-serif;
        list-style-type: none;
        color: white;
        padding: 4% 0;
    }

    .contactoAbout>ul>li>b {
        min-width: 100px;
        float: left;
    }

    .contactoAbout>ul>li>span {
        font-family: 'Poppins', sans-serif;
        color: rgb(186, 186, 186);
    }

    .redesAbout {
        font-family: 'Poppins', sans-serif;
        color: rgb(186, 186, 186);
        text-decoration: none;
        transition: 0.5s;
    }

    .redesAbout:hover {
        font-size: 1.03rem;
        text-decoration: underline;
    }

    .descargarCv {
        background-color: #fff;
        width: 190px;
        padding: 11px 40px;
        margin: 3% 0;
        cursor: pointer;
        transition: 0.5s;
        text-decoration: none;
        font-size: medium;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        color: black;
    }

    .descargarCv:hover {
        background-color: rgba(255, 255, 255, 0.527);
        letter-spacing: 1px;
    }

    /* Skills */

    .containerSkills {
        width: 100%;
    }

    .spanSkillAbout {
        background-color: rgba(145, 144, 144, 0.435);
        padding: 10px;
        border-radius: 0.5vh;
        font-family: 'Poppins', sans-serif;
        color: rgb(186, 186, 186);
        font-size: large;
    }

    .skills {
        margin: 2% 0 0 0;
        display: flex;
        justify-content: center;
    }
    .figureSkills{
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionSkills{
        display: flex;
        flex-flow: row wrap;
        margin: 5% 15% 5% 15%;
        font-size: 15px;
        font-weight: bold;
        color: gray;
    }
    .figureSkills{
        margin: 15px;
    }
    .fondoReact{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(0, 242, 255, 0.1);
    }
    .fondoJs{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(225, 255, 0, 0.1);
    }
    .fondoHtml{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(255, 72, 0, 0.1);
    }
    .fondoCss{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(0, 0, 255, 0.1);
    }
    .fondoSass{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(255, 0, 255, 0.1);
    }
    .fondoGit{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(255, 0, 4, 0.1);
    }
    .fondoGithub{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.1);
    }
    .fondoBootstrap{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(157, 0, 255, 0.1);
    }
    .fondoTailwind{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(0, 217, 255, 0.1);
    }
    .fondoNode{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(0, 255, 34, 0.1);
    }
    .fondoFirebase{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(255, 179, 0, 0.1);
    }
    .fondoMongo{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(89, 255, 0, 0.1);
    }

    /* Educación */

    .educacionAbout {
        width: 100%;
    }

    .spanEducacion {
        background-color: rgba(145, 144, 144, 0.435);
        padding: 10px;
        border-radius: 0.5vh;
        font-family: 'Poppins', sans-serif;
        color: rgb(186, 186, 186);
        font-size: large;
    }

    .ulUTN {
        border-left: 1px solid rgba(186, 186, 186, 0.556);
        margin: 10% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .educacionAbout>div>ul>li {
        list-style-type: none;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        transition: 1s;
        padding: 10px;
    }

    .educacionAbout>div>ul>li>b {
        border-left: 3px solid red;
        padding-left: 10px;
        margin-left: -10px;
        transition: 0.3s;
    }

    .educacionAbout>div>ul>li>b:hover {
        border-left: 2px solid rgb(6, 197, 2);
    }

    .educacionAbout>div>ul>li>p {
        color: rgba(186, 186, 186, 0.648);
    }

    .pSeg {
        font-size: small;
        font-style: italic;
    }

    .ulEducacion {
        display: flex;
        justify-content: space-around;
    }

    /* White */

    

}

@media screen and (min-width: 768px) {
    .hr {
        border-bottom: solid 1px rgba(128, 128, 128, 0.62);
        width: 100%;
        height: 30px;
        margin: 5% 0;
    }
}

@media screen and (min-width: 992px) {

    /* Sobre mi */

    .about {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0px 5% 0px 30%;
        margin-top: -100vh;
    }

    .containerAbout>div {
        margin: 5% 0% 5% 0%;
    }

    .about>div>h3 {
        text-transform: uppercase;
        font-family: 'Secular One', sans-serif;
        line-height: 1.2;
        letter-spacing: 2px;
        color: white;
        margin: 0% 0% 1% 0%;
    }

    .about>div>ul>li {
        list-style-type: none;
        color: white;
    }

    /* Descripción */

    .descripcionAbout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 200px;
        font-family: 'Poppins', sans-serif;
        color: rgb(186, 186, 186);
    }

    /* Contacto */

    .contactoAbout {
        margin: 5% 0% 5% 0%;
    }

    .contactoAbout>ul>li {
        width: 100%;
        padding: 1%;
        font-family: 'Poppins', sans-serif;
    }

    .contactoAbout>ul>li>b {
        min-width: 150px;
        float: left;
    }

    /* Skills */

    .containerSkills {
        margin-bottom: -80px;
    }

    .containerSkills>div {
        margin: 5% 0;
        color: #fff;
        font-family: 'Poppins', sans-serif;
    }

    /* Educación */

    .educacionAbout>div {
        margin: 5% 0;
    }
    
    /* White */

}

@media screen and (min-width: 1200px) {
    .hr {
        margin: 3% 0;
    }
}

@media screen and (min-width: 1400px) {
    .hr {
        margin: 1% 0;
    }
}