.sideBar{
    background-color: #000;
    width: 28%;
    min-width: 250px;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
}
.sideBarDivs{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.tituloSideBar{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content:flex-start;
    font-family: 'Mulish', sans-serif;
}
.tituloSideBar > h2 {
    margin-top: 15%;
}
.menuSideBar{
    width: 100%;
    font-size: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
}

.menuSideBar > ul > li {
    list-style-type: none;
    margin-bottom: 25px;
    transition: 0.8s;
    padding: 5px;
}
.menu{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.menuSideBar > ul > li:hover{
    letter-spacing: 2px;
    font-weight: bold;
}

.footerSideBar{
    color: rgb(255, 255, 255);
}

.footerSideBar > p {
    font-style: italic;
}
