*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    /* background-color: #0F0F0F; */
    background-image: url('../public/assets/img/fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}